<%-include("header.ejs") %>
<div class="container">
    <h1>Create Note</h1>
    <div class="form">
        <form action="">
            <input type="text" name="note-title" id="note-title" placeholder="Note Title">
            <textarea name="note-desc" id="note-desc" cols="30" rows="15" placeholder="Enter Description"></textarea>
            <input type="submit" value="Save">
        </form>
    </div>
</div>


<%-include("footer.ejs") %> 