<%-include("header.ejs") %>
<div class="container">
  <h1>Create Note</h1>
  <div class="form">
    <form action="/create" method="post">
      <input
        type="text"
        name="title"
        id="note-title"
        placeholder="Note Title"
        autocomplete="off"
      />
      <textarea
        name="desc"
        id="noteDesc"
        cols="30"
        rows="10"
        placeholder="Enter Description"
        maxlength="140"
      ></textarea>
      <input type="submit" value="Save" />
    </form>
  </div>
</div>

<%-include("footer.ejs") %>
