<footer>
    <div class="socials">
        <a href="https://github.com/cagataybalikci" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="copy">
        <h3>Note Taking App by ❤️ and JS.</h3>
        <h5>&copy;ÇB 2021</h5>
    </div>
</footer>
</body>
</html>