<%-include("header.ejs") %>
    <div class="container">
        <h1>Notes</h1>
        <div class="note-card">
            <h3 class="note-title" id="note-title">Note Title</h3>
            <p class="note-desc" id="note-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, earum?</p>
            <div class="time-stamp">
                <i class="far fa-clock"></i>
                <small id="note-date">June-5-2021</small>
            </div>
        </div>
        <div class="note-card">
            <h3 class="note-title" id="note-title">Note Title</h3>
            <p class="note-desc" id="note-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, earum?</p>
            <div class="time-stamp">
                <i class="far fa-clock"></i>
                <small id="note-date">June-5-2021</small>
            </div>
        </div>
        <div class="note-card">
            <h3 class="note-title" id="note-title">Note Title</h3>
            <p class="note-desc" id="note-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, earum?</p>
            <div class="time-stamp">
                <i class="far fa-clock"></i>
                <small id="note-date">June-5-2021</small>
            </div>
        </div>
        <div class="note-card">
            <h3 class="note-title" id="note-title">Note Title</h3>
            <p class="note-desc" id="note-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, earum?</p>
            <div class="time-stamp">
                <i class="far fa-clock"></i>
                <small id="note-date">June-5-2021</small>
            </div>
        </div>
    </div>


<%-include("footer.ejs") %> 